@font-face {
  font-family: 'Jura';
  src: url(@/assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'),
}

@font-face {
  font-family: 'Jura';
  src: url(@/assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'),
}

@font-face {
  font-family: 'Jura';
  src: url(@/assets/fonts/Montserrat/Montserrat-Black.ttf) format('truetype'),
}

@font-face {
  font-family: 'Jura';
  src: url(@/assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype'),
}
